.pokemon-card{
    position: relative;
    height: 250px;
    width: 200px;
    box-shadow: var(--shadow);
    border: var(--primary) solid 1px;
    border-radius: 10px;
    margin: 20px 10px 30px 10px;
    text-align: center;
}
.pokemon-img{
    padding: 60px 0 10px 0;
    margin: 0 auto 0 auto;
    width: 125px;
}
.test{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline var(--secondary) 3px;
    text-underline-offset: 10px;
}