/* Styling for the unsoretdlist that gives a respnsivness layout. */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 30px;
}