form{
    border: var(--secondary) solid 2px;
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: 10px;
}
input{
    border-bottom: var(--primary) solid 5px;
}
button {
    border: var(--secondary) solid 2px;
    color: #000;
}
button:hover{
    background-color: var(--secondary);
}