
<aside class="absolute top-4 right-4">
    <button 
    (click)="onCollectedClick()"
    class="border border-slate-300 rounded flex justify-center items-center p-2 text-yellow-400">
        
    <ng-container *ngIf="isCollected; then collected else notCollected" class="material-icons"></ng-container>
    
    <ng-template #collected>
        <span class="material-icons">star</span>
    </ng-template>
    <ng-template #notCollected>
        <span class="material-icons">star_border</span>
        </ng-template>

    </button>
</aside>