<div class="absolute top-3 right-3">
    <button (click)="onCollectedClick()"> <!-- Button created -->
        <ng-container *ngIf="!loading; else spinner"> <!-- This checks if loading is true or false. -->
            <ng-container *ngIf="isCollected; then collected else notCollected" class="material-icons"></ng-container>  <!-- This checks if the pokemon is collected or not. -->

            <ng-template #collected><span class="material-icons">star</span></ng-template>                              <!-- If the pokemon is collected this one is displayed. -->
            <ng-template #notCollected><span class="material-icons">star_border</span></ng-template>                    <!-- If the pokemon isn´t collected this one is displayed. -->
        </ng-container>

        <ng-template #spinner><span class="material-icons animate-spin">refresh</span></ng-template>                    <!-- This is the spinner that shows if loading is true. -->
    </button>
</div>