@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: rgb(67 56 202);
    --secondary: rgb(250, 247, 78);
    --third: rgb(255, 47, 47);
    --shadow: rgb(149 157 165 / 0.2) 0px 8px 24px;
}